<html ng-app="open_party">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Open Party</title>

    <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/service.js"></script>
    <!--<script src="cordova.js"></script>-->
</head>

<body ng-controller="MainCtrl">

<ion-nav-view animation="slide-left-right"></ion-nav-view>

<script id="personal_info.html" type="text/ng-template">
    <ion-view>
        <ion-content>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">姓名</span>
                    <input type="text" ng-model="user.name">
                </label>
                <label class="item item-input">
                    <span class="input-label">电话</span>
                    <input type="tel" ng-model="user.phone">
                </label>

                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="user.email">
                </label>

                <label class="item item-input">
                    <span class="input-label">当前公司</span>
                    <input type="text" ng-model="user.employer">
                </label>

                <label class="item item-input">
                    <span class="input-label">工作年限</span>
                    <input type="number" ng-model="user.experience">
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" ng-click="save(user)">
                    保存
                </button>
            </div>
        </ion-content>
    </ion-view>
</script>

<script id="main.html" type="text/ng-template">
    <ion-header-bar align-title="left" class="bar-positive">
        <h1 class="title">Open Party 成都</h1>
        <div class="buttons">
            <button class="button" ng-click="signOut()">注销</button>
        </div>
    </ion-header-bar>
    <ion-view>
        <ion-content >
            Here is Open Party Main Page,
            I'm {{ user.name }}, working at {{ user.employer }}.
            <div>
                <button class="button button-positive" ng-click="popCheckIn()">
                    show Check in
                </button>
            </div>

            <div>
                <button class="button button-positive" ng-click="cleanUser()">
                    Clean
                </button>
            </div>
        </ion-content>
    </ion-view>
</script>

</body>
</html>
